@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

input {
  border: 1px solid #dee2e6 !important;
  border-radius: 4px !important;
  padding: 6px 12px !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}

.table-header {
  background-color: #212529;
  color: white;
}
